*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#main {
	margin: 15px auto;
	width: 280px;
	border: 1px solid #f1f1f1;
	padding:15px;
}
h1 {
	margin-bottom:30px;
	font-size:18px;
	font-weight:700;
	text-align:center;
}
#submit_box .title{
	/* background-color:#ccc; */
}
#submit_box input, #submit_box select{
	width:100%;
	margin-bottom:20px;
	padding:5px 0px;
	/*
	background-color:#f1f1f1;
	border:0;
	*/
}
#submit_box #ad-image{
	width:100%;
	/*
	background-color:#f1f1f1;
	border:0;
	*/
}
.r { 
	float:right;
}
.l { 
	float:left;
}
.c { 
	clear:both;
}
.txt-c {
	text-align:center;
}
.green_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
}
.red_button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
}
.black_button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8px;
}


